<div id="div1">
    <h1 id="titulo">Tabla multiplicar</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Operacion</th>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody>
            @for (res of resultados; track res; let i = $index) {
                <tr>
                    <td>{{ numero }} * {{ i + 1 }} =</td>
                    <td>{{ res }}</td>
                </tr>
            }
        </tbody>
    </table>
</div>
