<div>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <p class="navbar-brand">Menu</p>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    @for (num of aleatorios; track num) {
                        <li class="nav-item">
                            <a
                                [routerLink]="['/tablamultiplicar/' + num]"
                                class="nav-link active"
                                aria-current="page"
                                >Tabla del {{ num }}</a
                            >
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</div>
